<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2015 Exploring Spatial. The MIT License (MIT)
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <jdbc:embedded-database id="dataSource" type="H2">
        <jdbc:script location="classpath:sql/db-schema.sql"/>
        <jdbc:script location="classpath:sql/db-data.sql"/>
    </jdbc:embedded-database>

    <context:component-scan base-package="com.exploringspatial.dao" />
    <context:component-scan base-package="com.exploringspatial.geojson" />
    <context:component-scan base-package="com.exploringspatial.job" />

</beans>
